.main-body {
    display: flex;
    flex-direction: column;
    margin: 0px 150px;
}

.top-row {
    display: flex;
    justify-content: space-between;
}

.video-section {
    flex: 1;
    margin: 20px 40px 20px 20px;
}

.description-section {
    flex: 1;
    margin: 20px 40px 20px 0px;
    padding: 5px 20px;
}

.main-content {
    width: 100%;
    transition: width 0.3s;
    margin-left: -60px;
}

.container {
    display: flex;
    margin-left: 60px;
    margin-right: -60px;
    transition: margin-left 0.3s;
}
