@model IEnumerable<DuAnBao.Models.Article>
@{
    ViewBag.Title = "Introduce";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<link rel="stylesheet" type="text/css" href="~/Content/Introduce.css" />
<div class="main-body">
    <div class="main-layout">
        <div class="top-row">
            <div class="video-section">
                <h2>Video nổi bật</h2>
                <div class="video-placeholder">
                    <iframe width="95%" height="315" src="https://www.youtube.com/embed/dQw4w9WgXcQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>

            <div class="description-section">
                <h2>Giới thiệu</h2>
                <p>Nội dung giới thiệu sẽ được hiển thị ở đây. Nội dung giới thiệu sẽ được hiển thị ở đây. Nội dung giới thiệu sẽ được hiển thị ở đây.</p>
            </div>
        </div>
    </div>
</div>

